button {
  padding: 4px 10px;
  border: none;
  line-height: 1.4;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  cursor: pointer;
  margin-left: 6px;
}

/* Alleen witte tekst voor deze knoppen */
.add-button,
.edit-button,
.delete-button,
.export-button {
  color: white;
}

/* Zwarte tekst voor confirm-knoppen */
.confirm-button {
  color: black;
}
/* Toevoegen (groen) */
.add-button {
  background-color: rgb(20, 79, 45);

  &:hover {
    background-color: forestgreen;
  }
}

/* Bewerken (geel) */
.edit-button {
  background-color: goldenrod;

  &:hover {
    background-color: darkorange;
  }
}

/* Verwijderen (rood) */
.delete-button {
  background-color:  darkred;

  &:hover {
    background-color: crimson;
  }
}

.pastel-bg {
  background: linear-gradient(120deg, #f6d6e0, #e1f5f2, #d5e8d4);
  min-height: 100vh;
  padding: 32px;
}

.export-button {
  background-color: #0056b3;
  font-weight: 500;
  transition: background-color 0.2s ease;
    &:hover {
    background-color: #007bff
  }
}

.product-item {
  margin-bottom: 1px; /* ruimte vóór het volgende product */
}

.edit-form {
  margin-top: 0px; margin-bottom: 40px; /* kleine ruimte onder het product */
}

.image-modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;

  img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.4);
    
  }
}
.image-modal img {
  border: 6px solid #91a1ad;
}


