<h3>Product voorraad & prijs:</h3>

<button class="add-button" (click)="openAddProductModal()">Toevoegen</button>

<div *ngIf="showAddProduct">
    <input type="text" [(ngModel)]="newProduct.name" placeholder="Productnaam" />
    <input type="number" [(ngModel)]="newProduct.quantity" placeholder="Aantal" />
    <input type="number" step="0.01" [(ngModel)]="newProduct.price" placeholder="Prijs (€)" />
  <select [(ngModel)]="newProduct.category">
    <option value="">Selecteer categorie</option>
    @for (cat of categories; track cat.name) {
      <option [value]="cat.name">{{ cat.name }} {{ cat.icon }}</option>
    }
  </select>
    <button class="add-button" (click)="addProduct()">Add Product</button>
    <button class="delete-button" (click)="closeAddProductModal()">❌ Annuleren</button>
</div>

<select [(ngModel)]="selectedCategory" style="margin-left: 12px;">
  <option value="">❤️ Toon alle categorieën</option>
  @for (cat of categories; track cat.name) {
    <option [value]="cat.name">{{ cat.icon }} {{ cat.name }}</option>
  }
</select>

<div style="display: flex; align-items: center; gap: 8px; margin-bottom: 16px;">
  <input type="text"
         [(ngModel)]="searchQuery"
         placeholder="🔍 Zoek product..."
         style="padding: 6px 8px; border-radius: 4px; border: 1px solid #ccc;" />

</div>


@if (!productItems().length) {
    <p>Loading...</p>
}

<p>Aantal producten: {{ products.length }}</p>

@for (product of filteredProducts; track product._id) {

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <p style="margin: 0;">
      {{ getCategoryIcon(product.category) }} <strong>{{ product.name }}</strong> – 
      {{ product.quantity }} stuks – €{{ product.price }}
    </p>
    <div>
      <button class="edit-button" (click)="openEditProduct(product)">✏️ Bewerken</button>
      <button class="delete-button" (click)="deleteProduct(product._id)">🗑 Verwijderen</button>
    </div>
  </div>
}

<div *ngIf="editProductId">
  <h4>Product bijwerken</h4>
  <input type="text" [(ngModel)]="editProductForm.name" placeholder="Naam" />
  <input type="number" [(ngModel)]="editProductForm.quantity" placeholder="Aantal" />
  <input type="number" step="0.01" [(ngModel)]="editProductForm.price" placeholder="Prijs (€)" />
  <select [(ngModel)]="editProductForm.category">
    <option value="">Selecteer categorie</option>
    @for (cat of categories; track cat.name) {
      <option [value]="cat.name">{{ cat.name }} {{ cat.icon }}</option>
    }
</select>
  <button class="edit-button" (click)="updateProduct()">✅ Opslaan</button>
  <button class="delete-button" (click)="editProductId = null">❌ Annuleren</button>
</div>


